h4{
    color: white;
}
.caisse-items{
    width: 30%;
    height: 12vh;   
}
.p-1{
    border-radius: 8px;
    height: 15vh;
}
#profile_membre1{
    width: 35%;
    border-radius: 100%;
}
#profile_membre2{
    width: 25%;
    border: 5px solid rgb(209, 208, 208);
    border-radius: 100%;
}
.button{
    color: white;
    width: 35%;
    border-radius: 5px;
    border: none;
}
.btn{
    width: 100%;
    color: white;
}
#btn-entre{
    background-color: #0CCE6B;
}
#btn-sortie{
    position: relative;
    left: 4px;
    background-color: red;
}
.input-montant{
    border-radius: 5px;
    border: none;
    background-color: gainsboro;
}
.img-thumbnail{
    width: 12%;
}

/* modal edit */

#modal-edit{
    height: auto;
}
#modal-edit-header{
    color: white;
    background-color: orange;
}
.modal-content{
    width: 70%;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    }
    h2 small {
    font-size: 0.5em;
    }

    .responsive-table li {
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    }
    .responsive-table .table-header {
    font-size: 14px;
    color: gray;
    }
    .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 2px 5px 5px gray;
    }
    @media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
    }