
#profile_membre1{
    width: 90%;
    height: auto;
    border-radius: 100%;
}
th{
    border: none;
    padding: 3px;
    margin: 3px;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: gray;
}
td{
    padding: 3px;
    margin: 3px;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}
table {
    border-collapse: separate;
    border-spacing: 0 5px;
}
.table th ,.table td{
    border-top: none;
}
/* comment */
.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 52vh;
    
}
#modal-notification{
    position: fixed;
    right:2px;
    height: 60vh;
    display: flex;
    justify-content: end;
  }
.table-scroll tr {
    width: 98%;
    table-layout: fixed;
    display: inline-table;
}
.form-control{
    border-radius: 15px;
    background-color: #2099C1; 
    color: white;
}
#nom_AAA{
    font-family: 'Dancing Script';
    font-size: 32px;
    color: white;
  
  }

#user_logo{
    background-color: #2099C1;
} 
#icons{
    width: 16%;
}


h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    }
    h2 small {
    font-size: 0.5em;
    }

    .responsive-table li {
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    }
    .responsive-table .table-header {
    font-size: 14px;
    color: gray;
    }
    .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 2px 5px 5px gray;
    }
    @media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
    }